@using DesafioJogos.Models
@model JogoViewModel

@{
    ViewBag.Title = "Pesquisa de Jogos";
}

@section scripts{
    @Scripts.Render("~/Scripts/Sistema/Jogo/Index.js")

    <script type="text/javascript">
        var MC02 = '@Html.Raw(Comuns.Mensagens.MC02)';
    </script>
}

@section body {
    <section>
        <fieldset>
            <legend>@ViewBag.Title</legend>
        </fieldset>
        <form class="form-horizontal" id="frmConsultar">
            <div class="form-group">
                <div>
                    <label id="lblNome" class="col-sm-2 control-label" for="txtNome">Nome:</label>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(x => x.Nome, new { @id = "txtNome", @maxlength = "30", @class = "form-control" })
                    </div>
                </div>
                <div>
                    <label id="lblPlataforma" class="col-sm-2 control-label" for="ddlPlataforma">* Plataformas:</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.Plataforma, (List<SelectListItem>)ViewBag.TipoPlataforma, new { @id = "ddlPlataforma", @class = "form-control required" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-11">
                    <div style="text-align:right">
                        <button id="btnPesquisar" name="btnPesquisar" type="submit" title="Pesquisar" class="btn btn-primary btn-default">Pesquisar</button>
                        <a id="btnIncluir" name="btnIncluir" href="~/Jogo/Manter" title="Incluir" class="btn btn-default">Incluir</a>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <br />
    <br />
    <div class="table-group">
        <content> RESULTADO PESQUISA </content>
        <table class="table table-striped" id="tblResultado"></table>
    </div>
    <div class="form-group">
        <div class="col-sm-11">
            <div style="text-align:right">
                <a id="btnVoltar" name="btnVoltar" href="~/Home/Index" title="btnVoltar" class="btn btn-default">Voltar</a>
            </div>
        </div>
    </div>
}