@using DesafioJogos.Models
@using Comuns.Enum
@model JogoViewModel


@{
    ViewBag.Title = "Inclusão de Jogo";
    string confirmar = Model.Id > 0 ? Comuns.Mensagens.MC01 : string.Empty;
}

@section scripts{
    @Scripts.Render("~/Scripts/Sistema/Jogo/Manter.js")

    <script type="text/javascript">
        var confirmar = '@Html.Raw(confirmar)';
    </script>
}

@section body {
    <section>
        <fieldset>
            <legend>@ViewBag.Title</legend>
        </fieldset>
        <form class="form-horizontal" id="frmManter">
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <div>
                    <label id="lblNome" class="col-sm-2 control-label" for="txtNome">* Nome:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.Nome, new { @id = "txtNome", @maxlength = "30", @class = "form-control required" })
                    </div>
                </div>


                <div>
                    <label id="lblPlataforma" class="col-sm-2 control-label" for="ddlPlataforma">* Plataformas:</label>
                    <div class="col-sm-4">
                        @Html.DropDownListFor(x => x.Plataforma, (List<SelectListItem>)ViewBag.TipoPlataforma, new { @id = "ddlPlataforma", @class = "form-control required" })
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group">
                <div class="col-sm-11">
                    <div style="text-align:right">
                        <button id="btnSalvar" name="btnSalvar" type="submit" title="Salvar" class="btn btn-primary btn-default">Salvar</button>
                        @if (Model.Id > 0)
                        {
                            <a id="btnCancelar" name="btnCancelar" href="~/Jogo/Index" title="Cancelar" class="btn btn-default">Cancelar</a>
                        }
                        else
                        {
                            <a id="btnVoltar" name="btnVoltar" href="~/Jogo/Index" title="Voltar" class="btn btn-default">Voltar</a>
                        }
                    </div>
                </div>
            </div>
        </form>
    </section>
}